body {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  background-color: rgb(103, 171, 177);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-family: "Roboto Condensed", sans-serif;
}

@media only screen and (max-width: 1200px) {
  body {
    /*background-color: rgb(103, 171, 177);*/

  }
}

/*------- Slot machine style ---------*/

#parentContainer
{
  width:1649px;
  height: 1062px;
  width:1649px;
  height: 1062px;
  margin:auto;
}

#gameMain
{
  visibility: hidden;
  width:1649px;
  height:1062px;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#headingsContent {
  width: 1103.25px;
  height: 50px;
  margin:auto;
  margin-top:181px;
  display: flex;
 /* align-items: center;
  justify-content: center;*/
}

.heading
{
  overflow: hidden;
  width: 20%;
  margin: 5px;
  float:left;
}

#slot
{
  width:1448.25px;
  height:1061.25px;
  background-image: url("../assets/risk game apac background v2-svg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  float:left;
}

#reels {
  /*display: flex;
  padding-left: 12%;
  padding-right: 12%;
  padding-top:22%;
  height:530px;*/
  width: 1103.25px;
  height: 723.25px;
  display: flex;
  justify-content: center;
  margin:auto;
  margin-top:-8px;
}

#spinGame {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/riskGame_bg_cropped.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

#handle
{
  all: unset;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  width:200px;
  height:400px;
  margin-top:11%;
  float:left;
  background-image: url("../assets/handle1.svg");
  background-repeat: no-repeat;
  z-index:11;
}

#handle:focus {
  outline: none;
  box-shadow: none;
  
}

#handle:active {
  outline: none;
  box-shadow: none;
  
}

.reel {
  overflow: hidden;
  width: 20%;
  margin: 5px;
  float:left;
}

.reel > .icons > img {
  width: calc(70% + 6px);
  margin: -3px 0 0 -3px;
  height: auto;

  /* enable gpu accelaration, fixes iOS flicker */
  transform: translate3d(0, 0, 0);
}

#bottomLights
{
  width: 1215.25px;
  height: 50px;
  margin:auto;
  margin-top:69px;
  display: flex;
  justify-content: space-between;
}

.light
{
  overflow: hidden;
  width: 30px;
  margin: 5px;
  float:left;
  border:3px solid black;
  border-radius: 30px;
  background-color: #0ABF53;
}

/* ----------------------------------------- */

/* ---- Result Div -----*/

#resultsParentContainer
{
  position:absolute;
  z-index: 10;
  width:100%;
  height: 100%;
  top:0px;
  visibility: hidden;
}

#resultDiv
{
  width:1649px;
  height: 1062px;
  margin:auto;
}

#resultScreen
{
  width:1649px;
  height:1062px;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#innerResult
{
  width:1448.25px;
  height:1061.25px;
  float:left;
}

#innerGameResult {
  width: 1112.25px;
  height: 773.25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-top: 173px;
}

.resultDiv
{
  width:1109.25px;
  height:319.25px;
  background-color: white;
  border-radius: 15px;
}

#resultBottomDiv
{
  margin-top:127px;
  height:326px;
}

#controls {
  background-color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 30px;
}

#controls label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

#controls button {
  font-size: 20px;
  border: 0px;
  width: 90%;
  height: 40px;
  border-radius: 10px;
}

#controls label input {
  margin-right: 5px;
}

input[type="checkbox"] {
  width: 40px;
  height: 40px;
}

#jackpot {
  color: #d5ad6d;
  font-size: 40px;
  text-align: center;
}

.icons > div
{
  padding:5%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.icons > div > img
{
  height: 100%;
  width: 100%;
  line-height: 200px;
  text-align: center;
  font-size: 4em;
  /*padding:30px;*/
  /*position:relative;*/
}

.animateSymbol
{
  box-shadow: 0px 0px 0px 0px #48abe0;
  animation: shadows 1.5s infinite;
  border-radius: 20px;
}

@keyframes shadows {
  0% {
    text-shadow: #48abe0 0 0 5px;
    box-shadow: 0px 0px 5px 5px #48abe0;
  }
  50% {
    text-shadow: blueviolet 0 0 5px;
    box-shadow: 0px 0px 5px 5px blueviolet;
  }
  75% {
    text-shadow: rebeccapurple 0 0 5px;
    box-shadow: 0px 0px 5px 5px rebeccapuprle;
  }
  100% {
    text-shadow: #48abe0 0 0 5px;
    box-shadow: 0px 0px 5px 5px #48abe0;
  }
}

.child
{
  animation-fill-mode: forwards;
}

.ringMoving {
  height: 125;
  line-height: 125px;
  text-align: center;
  font-size: 4em;
  animation: goaround 0.2s linear infinite;
}

.ringEnd {
  height: 125px;
  line-height: 125px;
  text-align: center;
  font-size: 4em;
  animation: stop .5s ease-out forwards;
}

@keyframes goaround {
  0% {transform: translateY(0);}
  100% {transform: translateY(-1000px);}
  }

  @keyframes stop {
    0% {transform: translateY(0)}
    50% {transform: translateY(-10px)}
    75% {transform: translateY(30px)}
    100% {transform: translateY(0)}
    }

    body {
      margin: 0px;
      padding: 0px;
      box-sizing: content-box;
      font-family: Arial, Helvetica, sans-serif;
      background-color: #00112C;
      color: white;
  }
  
  .popup {
      position:absolute;
      top: 174px;
      left: 169px;
      width: 1107px;
      height: 770px;
      overflow-wrap: break-word;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .gameIframe {
      width: 100%;
      height: 100%;
      border: 1px solid white;
  }
  
  .closeDiv {
      position:absolute;
      top: 55px;
      left: 55px;
      z-index: 100;
  }
  
  .closeButton {
      background-color:red;
      color: white;
      font-weight: bold;
      font-size:45px;
      width: 50px;
      height: 50px;
      padding: 0px;
      border: 0px;
  }
  
  .gameDiv {
      visibility: hidden;
      z-index: 0;
  }
  
  
  .main {
      position: absolute;
      top: 0px;
      left: 0px;
      width:1649px;
      height: 1062px;
  }
  
  
  .start {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      font-size: 70px;
      z-index: 1;
  }
  
  .tap {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      font-size: 60px;
      visibility: hidden;
      z-index: 2;
  }
  
  .welcome {
      position:absolute;
      top:0px;
      left:0px;
      width:100%;
      font-size: 24px;
      display: flex;
      align-items: top;
      justify-content:space-between;
      color: #0ABF53;
      visibility: hidden;
      padding: 10px;
      padding-top:5px;
      z-index: -1;
  }

  .logoutButton {
    margin-right:20px;
    background-color: #00112C;
    color: white;
    font-size: 20px;
    border: 1px solid white;
    padding: 10px;
  }
  
  .terminalID {
      position:absolute;
      bottom:10px;
      right:20px;
  }

  .terminalIDButton {
    background-color: #00112C;
      color: #33445C;
      border: 1px solid black;
  }
  
  .terminalID > input {
      background-color: #00112C;
      color: #33445C;
      border: 1px solid black;
  }

  .result {
    display:grid;
    grid-template-columns: 200px 150px auto 300px;
    background-color: #F3F6F9;
    border-radius: 10px;
    font-size: 20px;
    width: 100vw;
    height: 100vh;
  }
  
  .resultscore {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start:4;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
  }
  
  .resultscore2 {
    grid-row-start: 3;
    grid-row-end: 7;
    grid-column-start:4;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
  }
  
  .icon {
    padding-left: 100px;
    align-self: center;
    justify-self: center;
  }
  
  .textResult {
    padding-left: 50px;
  }
  
  .norisk {
    align-self: center;
    color: #0ABF53;
    font-size: 25px;
  }
  
  .finalrisk {
    display:flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-size: 80px;
  }
  
  .oneResult {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-left: 50px;
    font-size: 18px;
    color: black;
    width: 300px;
  }
  
  .approved {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #000000;
    color: white;
    font-size: 50px;
  }
     
  .colspan {
    grid-column-start: 1;
    grid-column-end: 5;
    justify-self: center;
    width: 100%;
  }
     
  .submitButton {
    background-color: #0ABF53;
    font-size: 18px;
    border: 0px;
    border-radius: 8px;
    padding: 10px 15px 10px 15px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 2px black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 160px;
  }
  
  .categoryIcon {
    padding-bottom: 5px;
    width: 40px;
  }
  
  .resultTitle {
      background-color: black;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-bottom: 10px;
      font-size: 50px;
  }
  
  .rawdata {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
  }

  .lock-container {
    width: 360px;
    height: 360px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 100%;
    z-index:999;
  }
  
  .lock {
    background-color: #a0d92b;
    width: 224px;
    height: 218px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -204px;
    margin-left: -212px;
   /* animation: wiggle 1.5s linear infinite alternate; */
  }
  .lock:before, .lock:after {
    content: "";
    position: absolute;
    left: 2px;
    animation: close 3s linear infinite alternate;
  }
  .lock:before {
    border-top: 30px solid #a0d92b;
    border-left: 30px solid #a0d92b;
    border-right: 30px solid #a0d92b;
    border-radius: 7px 10px 0 0;
    width: 160px;
    height: 112px;
    top: -120px;
    transform-origin: 0px 0;
  }
  .lock:after {
    width: 3px;
    background-color: #a0d92b;
    height: 15px;
    top: -11px;
  }
  .lock .keyhole {
    position: absolute;
    width: 204px;
    height: 207px;
    background-color: #fff;
    border-radius: 5px;
    top: 206px;
    left: 2010px;
  }
  
  @keyframes close {
    0%, 10% {
      transform: translate(0%, 0%);
    }
    20%, 100% {
      transform: translate(0%, 8px);
    }
  }
  @keyframes wiggle {
    0%, 10%, 20%, 30%, 40% {
      transform: rotate(0);
    }
    40%, 50%, 60%, 70%, 80% {
      transform: rotate(10deg);
    }
    45%, 55%, 65%, 75%, 85% {
      transform: rotate(-10deg);
    }
    85%, 100% {
      transform: rotate(0);
    }
  }

.resultsParent {
  display: grid;
  grid-template-rows: 310px 145px 315px;
  grid-template-columns: 1107px;
}

.upperResult {
  display: grid;
  grid-template-columns: 700px 407px;
  background-color:rgba(255,255,255,0.95);
  width:100%;
}

.midResult {
  background:none transparent
}

.lowerResult {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: white;
  width:100%;
}